<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Order Form</title>
</head>
<body>
<h1>
    Order a Pet
</h1>
<form action="order2" method="post" id="petform">
    <label for="petform">What kind of pet would you like to order?</label>
    <input type="text" id="petinput" name="petinput">
    <label for="petselector">Select a color</label>
    <select name="petselector" id="petselector" form="petform">
        <option value="purple">Purple</option>
        <option value="blue">Blue</option>
        <option value="pink">Pink</option>
        </option>
        <a href="order">Place Order</a>
    </select>
</form>
</body>
</html>